body { overflow: auto; font-family: 'Century Gothic', sans-serif; background-image: url(../img/wild_oliva.png);}

#photoBooth {
	margin-top: .2em;
	padding: 10px;
	width: 650px;
	margin-left: auto;
	margin-right: auto;
		background-color: white;
	border-radius: 2px;
}	

#slideShow {	
	position: relative; /*to contain position: absolute children*/
}
.photoHolder {
	position: relative;
	display: inline-block;
}
.moreIndicator {
	position: absolute;
	z-index: 3;
	opacity: .8;
	top: 0px;
}

.thumbnail {
	position: relative;
	box-shadow: 1px 3px 20px 0px;
}

/*This make the 2nd image not take up any space and be beneath its previous sibling image*/
.thumbnail:nth-child(2) {
	position: absolute;
	top: 0px;
}

/*This class should be used for the Gallery Photo that is on top*/
.topPhoto { z-index: 1;}

/*This class should be used for the Gallery Photo that is on bottom*/
.bottomPhoto {z-index: 0;}

.banner {
	text-align: center;
	font-size: 1.25em;
}
#nav {
	padding-top: 1em;
	clear: both;
	position: relative;
}
.details p { margin-top: 20px; }
.details {border: 1px #000 dashed; padding: 0px 10px; margin: 20px 0px;}

/*Add CSS styles to rotate the element 90deg
Make it animate nicely. You'll need CSS3 for this*/
.rot90 {
	/*add code here*/
}

/*Add CSS styles to rotate the element 180deg
Make it animate nicely. You'll need CSS3 for this*/
.rot180 {
	/*add code here*/
}

/*Add CSS styles to rotate the element 270deg
Make it animate nicely. You'll need CSS3 for this*/
.rot270 {
	/*add code here*/
}
